/* Global styles start */
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif; 
}
main {
  width:65%;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 25px;
}
h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
p {
  font-size: 30px;
}
header a {
  text-decoration: none;
}
button {
  background-color:	#4B0082;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 25px;
  color: white;
}

input {
  font-size: 20px;
  width: 50%;
  padding: 10px;
  margin-right: 10px;
}
label {
  font-size: 20px;
  margin-right: 10px;
}
/* Global styles end */

/* Header styles start */
.challenge-details {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.high-scores {
  margin-left: 20px;
  margin-top: 10px
}

.timer {
  margin-right : 20px;
  margin-top: 10px;
}
.countdown {
  margin-right: 20px;
  margin-top: 10px;
}
.timer-container{
  display: flex;
}
/* Header styles end */


/* Shared styles start */
.the-quiz, .quiz-play,.game-over, #high-scores{
  margin-top: 30vh;
}
/* Shared styles end */


/* Before start styles start */
.the-quiz {
  text-align: center;
}  

.start-button {
  margin-top: 25px;
}
/* Before start styles end */

/* Game play styles start */
.answer-button {
  display: block;
  margin-top: 25px;
}

.question, .answers, .game-over, .high-scores {
  text-align: left;
}

.question-1, .question-2, .question-3, .question-4, .question-5, .game-over, #high-scores {
  display: none;
}

#high-scores h2 {
  margin-bottom: 0px;
}
/* Game play styles end */